<%page args="course_overview, enrollment, entitlement, entitlement_session, course_card_index, is_unfulfilled_entitlement, is_fulfilled_entitlement, entitlement_available_sessions, entitlement_expiration_date, entitlement_expired_at, show_courseware_link, cert_status, can_refund_entitlement, can_unenroll, credit_status, show_email_settings, course_mode_info, is_paid_course, is_course_blocked, verification_status, course_requirements, dashboard_index, share_settings, related_programs, display_course_modes_on_dashboard, show_consent_link, enterprise_customer_name, resume_button_url" expression_filter="h"/>

<%!
import urllib

from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from course_modes.models import CourseMode
from course_modes.helpers import enrollment_mode_display
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)
%>

<%
  reverify_link = reverse('verify_student_reverify')
  cert_name_short = course_overview.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course_overview.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG
  billing_email = settings.PAYMENT_SUPPORT_EMAIL
%>

<%namespace name='static' file='../static_content.html'/>

<% 
  try: 
    if int(course_overview.display_number_with_default) >= 100:
      credential_type="certificate"
    else: 
      credential_type="badge"
    endif
  except ValueError:
    credential_type="certificate"
%>

<li class="course-item">
  % if settings.FEATURES.get('ENABLE_VERIFIED_CERTIFICATES'):
    % if enrollment.mode == "verified":
      % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', False):
        % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED, VERIFY_STATUS_APPROVED]:
          <% mode_class = " verified" %>
        % else:
          <% mode_class = " honor" %>
        % endif
      % else:
        <% mode_class = " verified" %>
      % endif
    % else:
      <% mode_class = " " + enrollment.mode %>
    % endif
  % else:
    <% mode_class = "" %>
  % endif

  <article class="course${mode_class}">

    <% course_target = reverse('info', args=[unicode(course_overview.id)]) %>

    <header id = "course-header-${course_overview.number}">
      <div class="row">
        <img class="col-md-3 col-xs-12 col-sm-12 image-responsive" src="${course_overview.image_urls['small']}" alt="${_('{course_name} Cover Image').format(course_name=course_overview.display_name_with_default) |h}" id ="course-image-${course_overview.number}" />
        <div class="col-md-9 col-xs-12 col-sm-12">
          <h1>${course_overview.display_name_with_default}</h1>
          <div class="row">
            <section class="info col-md-12">
              <hgroup>
                <p class="date-block">
                % if course_overview.has_ended():
                  ## ${_("Course Completed: {end_date}").format(end_date=course_overview.end_datetime_text("DATE_TIME"))}

                % elif course_overview.has_started():
                  ## ${_("Course Started: {start_date}").format(start_date=course_overview.start_datetime_text("DATE_TIME"))}

                % elif course_overview.start_date_is_still_default: # Course start date TBD
                  ${_("Course has not yet started")}

                % else:   # hasn't started yet
                  ${_("Course Starts - {start_date}").format(start_date=course_overview.start_datetime_text("DATE_TIME"))}
                  
                % endif
                </p>
              </hgroup>

              <div class="message message-status is-shown">
                % if hasattr(cert_status, 'grade'):
                  <p class="message-copy">${_("Final grade:")}
                    <span class="grade-value">${"{0:.0f}%".format(float(cert_status['grade'])*100)}</span>.
                  </p>
                % endif
              </div>
            </section>
          </div>
        </div>
      </div>
    </header>

    <div class="course-options">
      <div class="row">
        <div class="col-md-3">
          % if show_courseware_link:
            % if course_overview.has_ended():
             % if not is_course_blocked:
              <a href="${course_target}" class="gym-button enter-course archived">${_('View Archived Course')}</a>
            % else:
              <a class="gym-button enter-course-blocked archived">${_('View Archived Course')}</a>
            % endif
            % else:
            % if not is_course_blocked:
              <a href="${course_target}" class="gym-button"><b>${_('Go to Class')}</b></a>
            % else:
              <a class="gym-button enter-course-blocked"><b>${_('Go to Class')}</b></a>
            % endif
            % endif
          % endif
        </div>
        <ul class="col-md-9 dashboard-listing-links">        
          % if cert_status['status'] == 'downloadable' and enrollment.mode in CourseMode.NON_VERIFIED_MODES:
              <li class="action action-certificate">
                <a class="btn" href="${cert_status['download_url']}"
                   title="${_('This link will open/download a PDF document')}">
                  ${_("My {cert_name_short}").format(cert_name_short=credential_type)}
                </a>
              </li>
            % elif cert_status['status'] == 'downloadable' and enrollment.mode == 'verified' and cert_status['mode'] == 'honor':
              <li class="action">
                <a class="btn" href="${cert_status['download_url']}"
                   title="${_('This link will open/download a PDF document')}">
                  ${_("My {cert_name_short}").format(cert_name_short=credential_type)}
                </a>
              </li>
            % elif cert_status['status'] == 'downloadable' and enrollment.mode in CourseMode.VERIFIED_MODES:
              <li class="action">
                <a class="btn" href="${cert_status['download_url']}"
                   title="${_('This link will open/download a PDF document of your verified {cert_name_long}.').format(cert_name_long=cert_name_long)}">
                  ${_("My ID Verified {cert_name_short}").format(cert_name_short=credential_type)}
                </a>
              </li>
            % endif

          % if not is_course_blocked:
            <li>
              <a href="#unenroll-modal" class="btn" rel="leanModal" data-course-id="${course_overview.id | h}" data-course-number="${course_overview.number | h}"
                onclick="
                  document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from")}';
                  document.getElementById('refund-info').innerHTML='';
                  document.getElementById('unenroll-course-name').innerHTML='${course_overview.display_name_with_default | h}';
                  document.getElementById('unenroll_course_number').innerHTML='${course_overview.number | h}';
                  $('#unenroll_course_id').val('${course_overview.id | h}');
                ">
                ${_('Unenroll')}
              </a>
              % else:
              <a class="disable-look-unregister btn" data-course-id="${course_overview.id | h}" data-course-number="${course_overview.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from")}'; document.getElementById('refund-info').innerHTML=''">
                ${_('Unenroll')}
              </a>
            </li> 
          % endif

          % if show_email_settings:
            % if not is_course_blocked:
              <li>
                <a href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="${course_overview.id | h}" data-course-number="${course_overview.display_name_with_default | h}" data-optout="${unicode(course_overview.id) in course_optouts}">${_('Email Settings')}</a>
              </li>
            % else:
              <li>
                <a class="disable-look-settings" data-course-id="${course_overview.id| h}" data-course-number="${course_overview.number | h}" data-optout="${unicode(course_overview.id) in course_optouts}">${_('Email Settings')}</a>
              </li>
            % endif
          % endif
        </ul>
      </div>
    </div>
  </article>
</li>


<script>
  //note: this is legacy code from the original edx template.  Not sure what it does.  -MB
  $( document ).ready(function() {

     if("${is_course_blocked}" == "True"){
         $( "#unregister_block_course" ).click(function() {
             $('.disable-look-unregister').click();
         });
     }
  });
</script>

<script>
  $(function(){
    Gymnasium.setBackgroundColorOfElementFromImage('#course-header-${course_overview.number}', '#course-image-${course_overview.number}');
  });
</script>
