// ------------------------------
// LMS discussion main styling
//
// NOTE: This is the left-to-right (LTR) configured style compile.
// It should mirror lms-discussion-main-rtl w/ the exception of bi-app references.

// Load the LTR version of the edX Pattern Library
// $pattern-library-path: '../../edx-pattern-library' !default;
@import "edx-pattern-library/pattern-library/sass/edx-pattern-library-ltr";

// Configure LTR variables
@import "base/variables-ltr";

// Load the shared build

@import "../discussion/_build.scss";

@import "urls";
@import "../gymnasium";

#discussion-container {
  span.forum-nav-browse-menu,
  .view-discussion-home .helpgrid-row th.row-title,
  .view-discussion-home .helpgrid-row .row-item-full,
  .view-discussion-home .helpgrid-row td.row-item,
  span.label.label-settings,
  ul.forum-nav-browse-menu li,
  ul.forum-nav-browse menu li.forum-nav-browse-menu-item,
  ul.forum-nav-browse menu li.forum-nav-browse-menu-item span {
    font-size: 14px;
  }

  .view-discussion-home h2.home-title {
    font-size: 30px;
  }

  header.page-header,
  header.page-header.has-secondary {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 0;
    border-bottom: none;
  }

  .forum-search .search-input {
    width: 184px;
  }

  .forum-nav-browse-filter-input {
    font-weight: 12px !important;
  }

  .forum-search .search-button,
  .discussion-submit-post {
    border: 1px solid;
    border-left: none;
    border: 1px solid $gym-orange;
    background-color: $gym-orange;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica,
      sans-serif;

    &:hover {
      border: 1px solid $gym-button-background-hover;
      background-color: $gym-button-background-hover;
      border-color: $gym-button-background-hover;
    }

    &:active,
    &:focus {
      border: 1px solid $gym-button-background-hover;
      background-color: $gym-button-background-active;
      border-color: $gym-button-background-active;
    }
  }

  .forum-actions {
    margin-left: 10px;
  }

  .discussion-post .post-body,
  .discussion-post .post-context,
  .forum-nav-filter-main-control,
  .forum-nav-sort,
  .forum-nav-thread-title,
  .forum-nav-thread-votes-count,
  .forum-nav-thread-comments-count,
  .reply-body textarea,
  .response-body,
  .wmd-preview-container .wmd-preview,
  .wmd-preview-container .wmd-preview-label {
    font-weight: normal;
  }

  a.username,
  .actions-dropdown .action-list-item,
  .forum-nav-filter-main-control,
  .forum-nav-sort,
  .posted-details {
    font-size: 12px;
  }

  .actions-dropdown .action-list-item:hover {
    border: none;
    font-weight: bold;
    color: $gym-orange;
  }

  .btn-link.action-button.action-follow,
  .btn-link.action-button.action-follow icon,
  .discussion-post,
  .discussion-post .post-body,
  .discussion-post .post-context,
  .field-help,
  .field-label,
  .field-label-text,
  .field-input-label,
  .forum-nav-thread-title,
  .forum-nav-thread-votes-count,
  .forum-nav-thread-comments-count,
  .thread-preview-body,
  li.post-label,
  li.post-label icon,
  .icon,
  input,
  .response-count,
  .response-body,
  textarea,
  .wmd-preview-container,
  .wmd-preview-label {
    font-size: 14px;
  }
}

// Prevents jitter effect pre-hover
.has-breadcrumbs .breadcrumbs .all-topics {
  color: inherit;
  font-size: 14px;
  font-family: "brandon-grotesque";
  font-weight: bold;
  border: 1px solid transparent;

  // Prevents "All Topics" button becoming invisible
  &:hover {
    color: inherit;
  }
}
