.course-info header.course-profile {
  height: 430px;
  padding-top: 50px;
}

.course-info.container {
  padding-left: 15px;
  padding-right: 15px;
}

.course .level strong {
  display: inline-block;
  margin-top: 0.9em;
}
