// Rules for Bookmarks Button
.courseware-bookmarks-button {
  width: inherit;
  margin: 1em 0;
  vertical-align: top;

  .bookmarks-list-button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &.is-active {
      color: #fff;
    }

    &:before {
      content: "\f02e";
      font-family: FontAwesome;
    }
  }
}

// Rules for bookmark icon shown on each sequence nav item
.course-content {
  .bookmark-button {
    border: 0;
    background: $gym-orange;
    font-family: brandron-groteque, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    vertical-align: baseline;

    b {
      vertical-align: baseline;
    }

    &:before {
      content: "\f097"; /* outlined bookmark */
      font-family: FontAwesome;
    }

    &.bookmarked {
      background: $gym-orange;
    }

    &.bookmarked:before {
      color: white;
      content: "\f02e"; /* filled in bookmark */
    }

    &:hover,
    &.bookmarked:hover {
      border: none;
      background-color: $gym-button-background-hover;
      &:before {
        color: $gym-orange;
      }
    }

    &.is-active:before {
      color: $gym-orange;
    }
  }
}
