.login-register,
#login-and-registration-container {
  background: transparent;
}

.login-register {
  max-width: none;
}

#login,
#register {
  padding: 0 1.8em 2.2em;
}

.login-providers h1 + button.login-provider {
  margin: 1.4em 0 1em;
}

.login-providers .section-title + button.login-provider {
  margin-top: 0.6em;
}

main li:not([class]) > a:not([class]):active,
main label a:not([class]):hover,
main label a:not([class]):focus,
main label a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}

.login-form {
  a.forgot-password {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      border-bottom-width: 2px !important;
      margin-bottom: -0.125rem;
    }
  }
}

.login-register {
  h1 {
    margin-top: 0;
  }

  div.section-title.lines h2 {
    font: bold 1.8em/1.15 "brandon-grotesque", "Helvetia Neue", Helvetica,
      sans-serif;
    font-family: "brandon-grotesque", "Helvetia Neue", Helvetica, sans-serif;
  }

  form {
    background: white;
  }
  /*** linkedin Login button styles ***/

  p.action-label {
    font: normal 1.6em/1.4 "brandon-grotesque", "Helvetia Neue", Helvetica,
      sans-serif;
    margin-bottom: 1em;
  }
  $linked-in-blue: #0077b5;

  button.gym-button.button-oa2-linkedin-oauth2.login-provider.login-oa2-linkedin-oauth2,
  button.gym-button.button-oa2-linkedin-oauth2.login-provider.register-oa2-linkedin-oauth2 {
    transform: scale(1.5, 1.5);
    border-color: $linked-in-blue;

    .icon.fa.fa-linkedin {
      border-radius: 1px;
      margin: 0;
    }

    span {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  .form-field {
    label {
      font-size: 1.1em;
      text-transform: uppercase;
      font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold;
    }

    input {
      height: auto;
      font-size: 1em;
      padding: 1em;
      border: 1px solid #ccc;
      border-bottom: 2px solid $gym-orange;
      margin-bottom: 0.6em;
    }

    .tip {
      color: #444;
    }

    .tip-input {
      font: normal 1em/1.15 "Helvetia Neue", Helvetica, sans-serif;
    }
  }

  .logistration-bottom {
    padding-bottom: 2em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    margin-top: 1.2em;

    h2 {
      font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
      padding: 0.75em 0;
      font-size: 2.2em;
      letter-spacing: 0.01em;
      text-align: left;
      padding: 0 0 0.4em;

      .text {
        text-transform: uppercase;
      }
    }
  }

  .logistration-button {
    text-transform: capitalize;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 900;
  }

  form {
    background: white;
  }

  .note {
    font-weight: bold;
    color: #222;
  }

  .toggle-form {
    font-size: 14px;
  }

  .login-remember {
    line-height: 1.15;
  }

  .checkbox-remember {
    margin: 1.2em 0 0.6em;
  }

  .checkbox-terms_of_service {
    margin: 1em 0;
  }

  .form-field {
    margin-top: 0.6em;
    margin-bottom: 1.4em;
  }

  .form-field label,
  .form-field input {
    margin-bottom: 0.6em;
  }

  .form-field input + .tip-input {
    margin-top: 0.6em;
  }

  .form-field label.focus-out {
    position: static;
    padding-top: 0;
    padding-left: 0;
    opacity: 1;
    z-index: auto;
  }

  .form-field .tip {
    display: inline-block;
  }

  .form-field label[for="register-terms_of_service"] {
    margin: 0;
  }

  .status.account-activation,
  .status.account-activation.success,
  .status.account-activation.success,
  .financial-assistance-wrapper
    .financial-assistance-form
    .status.account-activation.success {
    background-color: $gym-orange !important;
    border-color: $gym-orange;
    color: $gym-white;
  }
}

#register .form-field input {
  margin-bottom: 0;
}

.register.container,
.login.container {
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 1.8em;
  border-radius: 2px;

  #field-password .tip.tip-input {
    margin-top: -0.3em;
  }

  .sign-up {
    border-right: 1px dashed #ccc;
    padding: 1.6em;
  }

  .additional-information {
    padding: 1.6em;
  }

  .instructions {
    padding-bottom: 1.8em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.8em;

    p {
      font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.6em;
      line-height: 1.5;
      letter-spacing: 0.01em;
      word-spacing: 0.02em;
    }
  }

  h2 {
    margin-bottom: 1.2em;
    font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  }

  form {
    .field {
      .tip {
        font-size: 1em;
      }
    }
  }

  #market {
    width: 150px;
  }

  .err-message {
    display: none;
  }

  .err-message.is-shown {
    display: block;
  }
  .err-message {
    background: #f2dede;
    padding: 1.8em;
    border: 1px solid #d9534f;
    border-radius: 0.12em;
    margin-bottom: 1em;
  }

  .err-message h3 {
    color: #d9534f;
    margin-top: 0;
    margin-bottom: -0.2em;
  }

  .err-message ul {
    margin-top: 1.4em;
    color: #d9534f;
  }

  .err-message li {
    font: bold 1em/1.5 "Helvetica Neue", Helvetica, sans-serif;
    color: #d9534f;
    letter-spacing: 0.01em;
    margin-top: 1em;
  }
}

.login {
  nav {
    a:hover {
      border-bottom: none;
    }
  }

  a:hover {
    border-bottom: 1px solid $gym-orange;
  }
}

body,
body.login,
body.register {
  ul.list-input,
  ol.list-input {
    label {
      font: 1em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
      color: #222;
      letter-spacing: 0.03em;
      word-spacing: 0.05em;
      text-transform: uppercase;
    }

    input {
      font: 1em/1 "Helvetica Neue", Helvetica, sans-serif;
      width: 100%;
      padding-top: 0.6em;
      padding-bottom: 0.6em;
      border: 0;
      border-bottom: 0.2em solid $gym-orange;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: none;
      background: none;
    }
  }
}

body {
  ul.list-input,
  ol.list-input,
  &.login ul.list-input,
  &.login ol.list-input,
  &.register ul.list-input,
  &.register ol.list-input,
  .login form,
  .register form,
  .passwordreset form,
  #forgot-password-modal #password-reset form {
    .field.is-focused {
      color: $gym-orange;

      input,
      label,
      span,
      span.tip,
      .tip {
        color: $gym-orange;
      }

      input:focus {
        outline-color: $gym-orange;
      }
    }
  }
}
