<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name="gymcms" file="../util/gymcms.mako" /> 
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor

  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>


<section class="find-courses" id="gym-catalog">

  <header class="course-title">
    <div class="container">
      <h1>Catalog</h1>
    </div>
  </header>

  <div class="container course-menu">
    <div class="row">
      <ul>
        <li>
          <a href="#full">Full Courses</a>
        </li>
        <li>
          <a href="#gymshorts">Gym Shorts</a>
        </li>
        ${gymcms.render('take5/take5-nav')}
      </ul>
    </div>
  </div>


  <main id="main" class="container" aria-label="Content" tabindex="-1">  
    <div class="catalog-content row">
      <div class="col-md-9 course-overview">
        <section class="courses-container">

          ${gymcms.render('courses/full-courses-description')}
          
          <ul class="listing-courses">
            <!-- course card underscore template is loaded here if course_discovery is set to true-->
            
            <!-- otherwise we use the following loop -->
            %for course in courses:
              <%include file="./catalog-course.html" args="course=course" />
            %endfor
          </ul>

          ${gymcms.render('courses/gym-shorts-description')}
          <ul class="listing-courses" id="gym-shorts-list">

          </ul>

          ${gymcms.render('take5-catalog-module')}
        </section>
      </div>
      <div class="col-md-3 sidebar">
        <%include file='../jobs/find_jobs.html' />

        ## include sidebar content from cms
        ${gymcms.render('upcoming-courses')}
      </div>
    </div> 
  </main>
</section>

<script type="text/javascript">
  $(function(){
    var checkForCourses = setInterval(function(){
      if ($("li.course-item").length > 0)
      {
        clearInterval(checkForCourses);
        sortCourses();
      }
    }, 25);

    var sortCourses = function () {
      //move courses whose IDs start with a 0 to the Gym Shorts list
      $("li.course-item[data-course-id^='0']").appendTo('#gym-shorts-list');

      //hide beta Courses
      $("li.course-item").each(function(idx, elem){
        var course_title = $(elem).find("h1")[0].innerHTML.toLowerCase().trim();

        if (course_title.indexOf("beta") == 0)
        {
          $(elem).remove();
        }
      });
    };

    Gymnasium.injectFBTrackingPixel();
  });
</script>



