## mako

<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>

<%!
from courseware.tabs import get_course_tab_list
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.lib.courses import course_image_url
%>

<%
if active_page is None and active_page_context is not UNDEFINED:
    # If active_page is not passed in as an argument, it may be in the context as active_page_context
    active_page = active_page_context

if course is not None:
    include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>

% if course: 
<header class="course-title" id="course-title-header">
  <img src="${course_image_url(course, 'course_image')}" hidden class="hidden" id="course-image" />
  <div class="container">
    <h1><span class="provider">${course.display_name_with_default}</span></h1>
    <div class="hidden" style="display:none" id="__course_number__">${course.display_number_with_default}</div>
  </div>
</header>
% endif

% if include_special_exams is not UNDEFINED and include_special_exams:
    <%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif


% if disable_tabs is UNDEFINED or not disable_tabs:

  <div class="container">
    <div class="row">
        <nav
            class="${active_page} wrapper-course-material col-md-12"
            aria-label="${_('Course Material')}"
            style="margin: 0 15px"
        >
            <div class="course-material">
                <%
                tab_list = get_course_tab_list(request, course)
                tabs_tmpl = static.get_template_path('/courseware/tabs.html')
                %>
                <ol class="tabs course-tabs">
                    <%include file="${tabs_tmpl}" args="tab_list=tab_list,active_page=active_page,default_tab=default_tab,tab_image=tab_image" />
                    <%block name="extratabs" />
                </ol>
            </div>
        </nav>
    </div>
  </div>
%endif

<script>
  $(function(){
    Gymnasium.setBackgroundColorOfElementFromImage('#course-title-header', document.getElementById('course-image'));
  });
</script>

% if show_preview_menu:
    <%
    preview_options = {
        "courseId": course.id,
        "disableStudentAccess": disable_student_access if disable_student_access is not UNDEFINED else False,
        "specificStudentSelected": specific_student_selected,
        "cohortedUserPartitionId": cohorted_user_partition.id if cohorted_user_partition else None,
        "masqueradeUsername" : masquerade_user_name if masquerade_user_name is not UNDEFINED else None,
    }
    %>
    <%static:require_module_async module_name="lms/js/preview/preview_factory" class_name="PreviewFactory">
        PreviewFactory(${preview_options | n, dump_js_escaped_json});
    </%static:require_module_async>
% endif
