## mako

<%namespace name='static' file='/static_content.html'/>
<%!
 from django.utils.translation import ugettext as _
 from django.core.urlresolvers import reverse
 %>
<%page args="tab_list, active_page, default_tab, tab_image" expression_filter="h" />

<%
def url_class(is_active):
  if is_active:
    return "active"
  return ""
%>
<%
tab_links = []
%>
% for tab in tab_list:
  <%
    tab_is_active = tab.tab_id in (active_page, default_tab)
    tab_class = url_class(tab_is_active)
    tab_name = tab.name
    tab_id = tab.tab_id
  %>
  ## Hide Progress Tab
  %if tab_id is not "progress":
  ## Add to tab_links
  <%
    tab_link = []
    if tab_id is "info":
      order = 2
      tab_name = "Syllabus"
    elif tab_id is "courseware":
      order = 1
      tab_name = "Lessons"
    elif tab_id is "discussion":
      order = 3
      tab_name = "Forum"
    elif tab_id is "instructor":
      order = 4
    endif
    tab_link.append(order)
    tab_link.append(tab_id)
    tab_link.append(tab_class)
    tab_link.append(tab_name)
    tab_link.append(tab.link_func(course, reverse))
    tab_link.append(tab_is_active)
    tab_links.append(tab_link)
  %>

  <li class="tab" id="${tab_id}">
    <a href="${tab.link_func(course, reverse)}" class="${tab_class}">${tab_name}
    % if tab_is_active:
      <span class="sr">, current location</span>
    %endif
    % if tab_image:
      ## Translators: 'needs attention' is an alternative string for the
      ## notification image that indicates the tab "needs attention".
      <img src="${tab_image}" alt="${_('needs attention')}" />
    %endif
    </a>
  </li>
  %endif
% endfor

% for tab in tab_links:
  <!-- ${tab} -->
% endfor
