<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />
<%namespace name="gymcms" file="../util/gymcms.mako" />

<%block name="pagetitle">${_("Page Not Found")}</%block>

<div class="container ">
  <div class="row">
    <div class="col-md-12 ">
      <div class="white-panel">
        <div class="row">
          <div class="col-md-9">
            <h1>404 - Not Found
            <%block name="pageheader">${page_header or _("Page not found")}</%block>
            </h1>
            <p>
            <%block name="pagecontent">
                % if page_content:
                    ${page_content}
                % else:
                    ${Text(_('…or maybe it never even existed in the first place…? Go back to the {link_start}homepage{link_end} or let us know about any pages that may have been moved at {email}.')).format(
                    link_start=HTML('<a href="/">'),
                    link_end=HTML('</a>'),
                    email=HTML('<a href="mailto:{email}">{email}</a>').format(email=Text('help@thegymnasium.com'))
                    )}
                % endif
            </%block>
            </p>
          </div>
          <div class="col-md-3">
          <%include file="theme-upcoming-content.html" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
