<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name="gymcms" file="../util/gymcms.mako" />

<%block name="pagetitle">${_("About")}</%block>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Gymnasium_About
URL of the webpage where the tag is expected to be placed: http://gymnasium.aquent.com/about
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/02/2015
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


<div class="container ">
	<div class="row">
		<div class="col-md-12 ">
      <div class="white-panel">
        <div class="row">
          <div class="col-md-9">
            ${gymcms.render('about')}
          </div>

          <div class="col-md-3">
						<%include file="theme-upcoming-content.html" />
          </div>

        </div>
      </div>
		</div>
	</div>
</div>
