<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name="gymcms" file="../util/gymcms.mako" />

<%block name="pagetitle">Jobs</%block>


<%block name="headextra">
  ${gymcms.render('jobs/meta/jobs-meta/')}
</%block>

<div class="container">
	<div class="row">
    <div class="col-md-12">
      ${gymcms.render('jobs-top')}
    </div>
  </div>

  <br /><br />
  <section id="remote-work">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <header>
            <h2 class="all-caps">Remote-first Jobs</h2>
            <hr />
          </header>
        </div>
        <div class="col-md-12">
          <%include file='../jobs/job_table.html' />
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-md-12">
      ${gymcms.render('jobs-bottom')}
    </div>
	</div>
</div>
