<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name="gymcms" file="../util/gymcms.mako" />

<%block name="pagetitle">${_("Web Development")}</%block>

<%block name="headextra">
  ${gymcms.render('/hub-pages/meta/web-development-collection-meta/')}
</%block>

<div class="container">
	<div class="row">
    <div class="col-md-12">
      ${gymcms.render('web-development-top')}
    </div>
  </div>

  <br /><br />
  <section id="jobs">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <header>
            <h2 class="all-caps">Web Development</h2>
            <hr />
          </header>
        </div>
        <div class="col-md-12">
          <%include file='../jobs/job_table.html' />
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-md-12">
      ${gymcms.render('web-development-bottom')}
    </div>
	</div>
</div>
