<%
from django.conf import settings
jobs_module_base_url = settings.APPSEMBLER_FEATURES['JOBS_MODULE_BASE_URL']
%>
% if jobs_module_base_url:
  <%
    market = None
    if user.is_authenticated():
      try:
        # grab market from user profile
        market = user.extrainfo.market
      except Exception as e:
          market = None
    endif
  %>
  <iframe src="${jobs_module_base_url}table/${market}"
    id="jobs-microservice-frame"
    class="gymnasium-resizable-iframe gymnasium-jobs-microservice-iframe"
    style="width: 1px;min-width: 100%;border:0;"
  ></iframe>
  
  % if not user.is_authenticated():
    <script>
      if (navigator.geolocation) {
        // Geolocation is enabled - use this to get location
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            if (latitude && longitude) {
              const baseUrl = "${jobs_module_base_url}table";
              const microserviceUrl = baseUrl + "/" + latitude + "/" + longitude;

              $('.gymnasium-jobs-microservice-iframe').attr('src', microserviceUrl);
            }
          },
        );
      }
    </script>
  % endif
% endif
