<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>

<%! from django.core.urlresolvers import reverse %>

<section id="forgot-password" class="modal" aria-hidden="true">
  <div class="dialog" role="dialog" aria-labelledby="email-settings-title">

    <button class="close-modal" tabindex="1" data-dismiss="modal">
      <b class="close-modal-content gym-button">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Dismiss")}
      </b>
    </button>

    <form id="pwd_reset_form" action="${reverse('password_reset')}" method="post" data-remote="true">
      <fieldset>
        <legend>
          <b role="heading">
            ${_("Password Reset")}
          </b>

          <span class="sr">,
            ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
            ${_("window open")}
          </span>
        </legend>


        <ul class="list-input">
            <label>
              <b>${_("Your E-mail Address*")}</b>
            </label>
            <input type="email" name="email" id="pwd_reset_email" aria-required="true" placeholder="username@domain.com" required>
          </li>
        </ul>
        <p>
          ${_("This is the e-mail address you used to register with {platform}").format(platform=microsite.get_value('platform_name', settings.PLATFORM_NAME))}
        </p>

        <div class="row">
          <div class="col-md-12">
            <div id="error_message"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="gym-button" tabindex="2" name="submit" type="submit" id="submit-password-reset-button">
              <b>
                ${_("Reset My Password")}
              </b>
            </button>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="row confirmation-message" hidden>
      <legend>
        <b role="heading">
          ${_("Check your email")}
        </b>
      </legend>
      <div class="col-md-12">
        <p>${_("We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.")}</p>
      </div>
    </div>
  </div>


</section>

<script type="text/javascript">
  (function() {

    $('#pwd_reset_form').validate();

    $('#forgot-password').on('show.bs.modal', function(){
      //$('.confirmation-message').hide();
      //$('#pwd_reset_form').show();
    });

    $('#submit-password-reset-button').click(function(){
      //$('.confirmation-message').show();
      //$('#pwd_reset_form').hide();
    });

    $(document).delegate('#pwd_reset_form', 'ajax:success', function(data, json, xhr) {
      if(json.success) {
        $("#pwd_reset_form").html(json.value);
      } else {
        if($('#pwd_error').length == 0) {
          $('#error_message').html('<div id="pwd_error" class="modal-form-error error">${_("Email address is incorrect or there is no account registered with this email address.")}</div>');
        }
        $('#pwd_error').stop().css("display", "block");
      }
    });

  })(this)
</script>
