## mako

<%namespace name='static' file='/static_content.html'/>
<%
from django.conf import settings
cw_env = settings.APPSEMBLER_FEATURES['CLOUDWALL_SERVER_PATH']
%>

<meta property="og:description" content="Gymnasium offers free online courses on web development, design, user experience, and content creation." />
<meta property="og:keywords" content="free online courses designers design user experience UX javascript node nodejs sketch wordpress drupal UI" />

<!-- insert typekit font references -->
<script src="//use.typekit.net/rhf0qta.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!-- bootstrap! -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>

<!-- iframe resize script for responsive job modules-->
<script 
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.0/iframeResizer.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js"></script>
<script src="${static.url('js/cookiebanner.js')}" id="cookiebanner"
	data-link="#f89820"
	data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. Find out more about how we use cookies in our"
	data-linkmsg="Privacy Policy."
	data-moreinfo="/privacy">
</script>

## inject some global variables from configurations
<script>
  var CW_ENV = "${cw_env}";
</script>

<script src="${static.url('js/gymnasium.js')}"> </script>


<script>
  // check for unsupported browsers; display warning message if an old browser
  // is in use

  $(function(){
    iFrameResize({ log:false }, '.gymnasium-resizable-iframe');
  
    // This function returns Internet Explorer's major version number,
    // or 0 for others. It works by finding the "MSIE " string and
    // extracting the version number following the space, up to the decimal
    // point, ignoring the minor version number
    // for more info, see: https://support.microsoft.com/en-us/kb/167820
    function msieversion()
    {
      var ua = window.navigator.userAgent
      var msie = ua.indexOf ( "MSIE " )

      if ( msie > 0 )      // If Internet Explorer, return version number
         return parseInt (ua.substring (msie+5, ua.indexOf (".", msie )))
      else                 // If another browser, return 0
         return 0
    }

    function displayBrowserWarning()
    {
      $('#browserWarning').show();
    }

    var ieversion = msieversion();
    // make sure that we are using IE > 9
    if (ieversion > 0 && ieversion < 11)
    {
      displayBrowserWarning();
    }

  });


	//this is a nonsense hack to make courseware subnavigation look like
	//what we want it to look like until we move to Cypress
	//TODO: Unhackify this.
	$(function(){
		$('.course-tabs li a b:contains("Course")').each(function(idx, value){
			value.innerHTML = "Lessons";
		});

		$('.course-tabs li a b:contains("Home")').each(function(idx,value){
			value.innerHTML = "Syllabus";
		});

    $('.course-tabs li a b:contains("Discussion")').each(function(idx, value) {
      value.innerHTML = "Forum";
    });

    // make sure lessons tab comes first
    var syllabusTab = $('.course-tabs li:contains("Lessons")');
    $(syllabusTab).prependTo(
      $(syllabusTab).parent()
    );

		$('.course-tabs li a:contains("Forum")').each(function(idx,value){
			//TODO: Unhack this silly logic to hide forum tab for gym shorts

			//we're looking at the href property of this anchor to see if it contains
			//a course link that has "Gym/00" in it.  All gym shorts start with "0"
			//so that should hide this link. Note that this does _not_ disable
			//forums... those pages will still exist, but we won't like to them.
			if ($(value).attr("href").toLowerCase().indexOf("gym/0") > 0)
			{
				$(value).parent().hide();
			}
		})

		$('.course-tabs li:contains("Progress")').hide();
		$('.course-tabs').show();
	});
</script>

## Paste your google analytics script here:
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-684147-51', 'auto');
  ga('send', 'pageview');

</script>

##intercom.io analytics

% if user.is_authenticated():
<script>

  var __intercom_app_id__;
  switch (CW_ENV) {
    case 'cw-rc':
    case 'cw-beta':
      __intercom_app_id__ = 'jz17y7nd'; // test intercom app id
      break;
    default:
      __intercom_app_id__ = 'oej77pbg'; // production intercom app id
  }

  window.intercomSettings = {
    //  The current logged in user's full name
    name: "${user.profile.name}",
    //  The current logged in user's email address.
    email: "${user.email}",
    //  The current logged in user's sign-up date as a Unix timestamp.
    created_at: "${user.date_joined.isoformat()}",
    //  The current logged in user's username.
    user_id: "${user.username}",
    //prod app id
    app_id: __intercom_app_id__,
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/oej77pbg';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script>
  $(function() {
    // track an event for each view of a course page
    var courseNum = $('#__course_number__').text();
    if (courseNum.length > 0) {
      if (typeof Intercom === 'function') {
        Intercom('trackEvent', 'visited-gym-' + courseNum);
      }
    }
  })
</script>
% endif
