## mako
<%namespace name='static' file='/static_content.html'/>
<%namespace name='gymcms' file='./util/gymcms.mako' />
<%
from django.conf import settings
cw_env = settings.APPSEMBLER_FEATURES['CLOUDWALL_SERVER_PATH']
%>

## preload web fonts, as recommended by lighthouse
<link rel="preload" href="https://thegymcms.com/fonts/brandon_reg-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://thegymcms.com/fonts/brandon_reg_it-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://thegymcms.com/fonts/brandon_bld-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://thegymcms.com/fonts/brandon_bld_it-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://thegymcms.com/fonts/brandon_blk-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://thegymcms.com/fonts/brandon_blk_it-webfont.woff2')}" as="font" type="font/woff2" crossorigin="anonymous">

## insert typekit font references
<script async defer src="//use.typekit.net/rhf0qta.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

## bootstrap CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

## inject some global variables from configurations
<script>
  var CW_ENV = "${cw_env}";
</script>

<script>
// google analytics
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-684147-51', 'auto');
ga('send', 'pageview');
</script>

## intercom.io analytics

% if user.is_authenticated():
<script>

var __intercom_app_id__;
switch (CW_ENV) {
  case 'cw-rc':
  case 'cw-beta':
    __intercom_app_id__ = 'jz17y7nd'; // test intercom app id
    break;
  default:
    __intercom_app_id__ = 'oej77pbg'; // production intercom app id
}

window.intercomSettings = {
  //  The current logged in user's full name
  name: "${user.profile.name}",
  //  The current logged in user's email address.
  email: "${user.email}",
  //  The current logged in user's sign-up date as a Unix timestamp.
  created_at: "${user.date_joined.isoformat()}",
  //  The current logged in user's username.
  user_id: "${user.username}",
  //prod app id
  app_id: __intercom_app_id__,
};

(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/' + __intercom_app_id__;var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

window.addEventListener('load', (event) => {
  // track an event for each view of a course page
  var courseNum = $('#__course_number__').text();
  if (courseNum.length > 0) {
    if (typeof Intercom === 'function') {
      Intercom('trackEvent', 'visited-gym-' + courseNum);
    }
  }
})
</script>
% endif
