<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace name='gymcms' file='./util/gymcms.mako' />

<%block name="pagetitle">${_("Free online courses on design and development")}</%block>

<%block name="headextra">
  ${gymcms.render('home/meta')}
</%block>

<%block name="bodyclass">gymnasium-home</%block>

## Show a special page to authenticated users
% if user.is_authenticated():
  ${gymcms.render('home/index-auth')}
% else:
  ${gymcms.render('home/index')}
%endif

<%block name="js_extra">
<script>
window.addEventListener('load', (event) => {

  if (getParameterByName('next')) {
    document.getElementById('login').click();
  }
});
</script>
</%block>
