<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace name='gymcms' file='./util/gymcms.mako' />

<%block name="pagetitle">${_("Free online courses on design and web development")}</%block>

<%block name="headextra">
  <meta property="og:url" content="https://thegymnasium.com/" />
  <meta property="og:title" content="Aquent Gymnasium" />
  <meta property="og:image" content="https://thegymnasium.com${static.url('images/social-share-400.png')}" />
</%block>

<%block name="bodyclass">gymnasium-home</%block>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Gymnasium HP
URL of the webpage where the tag is expected to be placed: https://gymnasium.aquent.com/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/02/2015
-->
<script>
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

## Show a special page to authenticated users
% if user.is_authenticated():
  ${gymcms.render('home/index-auth')}
% else:
  ${gymcms.render('home/index')}
%endif

<%block name="js_extra">
<script>
document.addEventListener('DOMContentLoaded', (event) => {

  if (getParameterByName('next')) {
    document.getElementById('login').click();
  }
  
  document.getElementById('gymjs').onload = function() {
    gym.injectFBTrackingPixel();
  }
});
</script>
</%block>
