## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%namespace name='gymcms' file='./util/gymcms.mako' />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

<% import json %>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block cached="False">
<%
try:
    course_id = course.id.to_deprecated_string()
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>

% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>

  <header class="global" aria-label="${_('Global Navigation')}">
    <nav id="primary-nav" class="black-background container-fluid">
      <div class="container">
        <div class="row">
          <div class="navbar">
            <div class="nav navbar navbar-nav navbar-left">
              % if not user.is_authenticated():
                  % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                    <a class="gym-button" href="/register"><b>${_("Sign Up")}</b></a>
                  % endif
                % endif
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">

                % if user.is_authenticated():

                  <li>
                    <a href="#" id="dropdown" class="logged-in-username">
                      ${user.username} <span class="caret"></span>
                    </a>
                    <ul class="" id="dropdown-menu">
                      <li><a href="${reverse('logout')}" role="menuitem">${_("Log Out")}</a></li>
                    </ul>
                  </li>

                % endif

                <li><a href="http://www.aquent.com" target="_blank" alt="Aquent" class="gym-nav-icon-container"> <i class="gym-nav-icon aquent-icon"></i></a></li>
                <li><a href="http://www.vitamintalent.com" target="_blank" alt="Vitamin T" class="gym-nav-icon-container"> <i class="gym-nav-icon vitamin-t-icon"></i></a></li>

              </ul>

            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav id="secondary-nav" class="container-fluid">

      <div class="container">
        <div class="row">
          <div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav-items">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="${marketing_link('ROOT')}">
                <%block name="navigation_logo">
                    <img src="${static.url(branding.get_logo_url())}" alt="Gymnasium"/>
                </%block>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="secondary-nav-items">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="/courses">Courses</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/about">About</a></li>

                % if user.is_authenticated():

                  <%block name="navigation_global_links_authenticated">
                    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                      <li class="nav-global-01">
                        <a href="/dashboard">${_('Dashboard')}</a>
                      </li>
                      <li class="visible-xs">
                        <a href="/logout">Log out</a>
                      </li>
                    % endif
                  </%block>

                % else:
                  <li>
                    % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                        % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                        <a class="cta cta-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}"><b>${_("Log In")}</b></a>
                        % else:
                        <a class="gym-button" href="/login${login_query()}"><b>${_("Log In")}</b></a>
                        % endif
                    % endif
                  </li>
                % endif
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
    </nav>

    <div class="wrapper-msg urgency-high" id="browserWarning" style="display:none;">
        <div class="msg">
            <div class="msg-content">
                <h1>Improve your Gymnasium experience</h1>
                <div class="copy">
                    <p>It looks like you’re using an unsupported browser. To get the most out of your Gymnasium experience, we recommend that you use
                      <a href="https://www.google.com/chrome/index.html" target="_blank">Chrome</a>,
                      <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>, or
                      <a href="http://www.apple.com/safari/" target="_blank">Safari</a>.</p>
                </div>
            </div>
        </div>
    </div>
  </header>

  ${gymcms.render('system-status')}

% if course:
<!--[if lte IE 8]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

%if not user.is_authenticated():
  <%include file="forgot_password_modal.html" />
%endif

<%include file="help_modal.html"/>

<script async>
  $(function(){
    var button = document.getElementById("dropdown");

    $(button).click(function(){
      var menu = document.getElementById("dropdown-menu");

      var caret=$(button).children('.caret');

      if (menu.style.display !== "inline") {
          menu.style.display = "inline";
          $(caret).hide();
      }
      else {
        menu.style.display = "none";
        $(caret).show();
      }
    });
  })
</script>
