<%page expression_filter="h"/>
<%!
from django.utils.translation import ungettext, ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<%namespace name="gymcms" file="./util/gymcms.mako" />
<%namespace name='static' file='static_content.html'/>
<h3 class="hd hd-3 problem-header" id="${ short_id }-problem-title" aria-describedby="${ id }-problem-progress" tabindex="-1">
  ${ problem['name'] }
</h2>
<div class="problem-progress" id="${ id }-problem-progress"></div>
<div class="hidden">
  <span id="attempts-used">${attempts_used}</span> of
  <span id="attempts-allowed">${attempts_allowed}</span> attempts
</div>

${gymcms.render('final-exam-modal-top')}

<div class="problem" aria-relevant="all">
  <div aria-live="polite">
    ${ HTML(problem['html']) }
  </div>

  <div class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />
    % if demand_hint_possible:
      <div class="problem-hint">
        <%include file="problem_notifications.html" args="
         notification_name='hint',
         notification_type='problem-hint',
         notification_icon='fa-question',
         notification_message=''"
       />
      </div>
    % endif

    <div class="submit-attempt-container">
      <button type="button" class="submit gym-button natural" id="check-button" data-submitting="${ submit_button_submitting }" data-value="${ submit_button }" data-should-enable-submit-button="${ should_enable_submit_button }" aria-describedby="submission_feedback_${short_id}" ${'' if should_enable_submit_button else 'disabled'}>
          <b class="submit-label">${ submit_button }</b>
      </button>
      <div class="submission-feedback" id="submission_feedback_${short_id}">
        % if attempts_allowed:
          ${ungettext("You have used {num_used} of {num_total} attempt", "You have used {num_used} of {num_total} attempts", attempts_allowed).format(num_used=attempts_used, num_total=attempts_allowed)}
        % endif
        <span class="sr">${_("Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.")}</span>
      </div>
    </div>
    <div class="problem-action-buttons-wrapper">
      % if demand_hint_possible:
      <span class="problem-action-button-wrapper">
          <button type="button" class="hint-button gym-button natural" data-value="${_('Hint')}" ${'' if should_enable_next_hint else 'disabled'}><span class="icon fa fa-question" aria-hidden="true"></span>${_('Hint')}</button>
      </span>
      % endif
      % if save_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="save gym-button natural" data-value="${_('Save')}">
              <span aria-hidden="true">${_('Save')}</span>
              <span class="sr">${_("Save your answer")}</span>
          </button>
      </span>
      % endif
      % if reset_button:
      <span class="problem-action-button-wrapper">
          <button type="button" class="reset gym-button natural" data-value="${_('Reset')}"><span class="icon fa fa-refresh" aria-hidden="true"></span><span aria-hidden="true">${_('Reset')}</span><span class="sr">${_("Reset your answer")}</span></button>
      </span>
      % endif
      % if answer_available:
      <span class="problem-action-button-wrapper">
          <button type="button" class="show gym-button natural" aria-describedby="${ short_id }-problem-title"><span class="show-label">${_('Show Answer')}</span></button>
      </span>
      % endif
    </div>
  </div>

  <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-exclamation-circle',
      notification_name='gentle-alert',
      notification_message=''"
    />
    % if answer_notification_type:
        % if 'correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-check',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'incorrect' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='error',
                notification_icon='fa-close',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'partially-correct' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='success',
                notification_icon='fa-asterisk',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
        % if 'submitted' == answer_notification_type:
            <%include file="problem_notifications.html" args="
                notification_type='general',
                notification_icon='fa-info-circle',
                notification_name='submit',
                is_hidden=False,
                notification_message=answer_notification_message"
            />
        % endif
    % endif
    <%include file="problem_notifications.html" args="
      notification_type='warning',
      notification_icon='fa-save',
      notification_name='save',
      notification_message=save_message,
      is_hidden=not has_saved_answers"
    />
    <%include file="problem_notifications.html" args="
      notification_type='general',
      notification_icon='fa-info-circle',
      notification_name='show-answer',
      notification_message=_('Answers are displayed within the problem'),
      is_hidden=True"
    />
</div>

${gymcms.render('final-exam-modal')}

<script>
  $(function(){
    Prism.highlightAll();
  });

  $(function(){
    let progress_status_check; // this is the interval we'll set to track status on this problem

    // this helper function gets a ton of information about the score for this particular problem
    // based on information embedded on this page
    var processScore = () => {
      const COURSE_TYPES = {
        FULL_COURSE: 'FULL_COURSE',
        GYM_SHORT: 'GYM_SHORT',
      };

      const COURSE_ID = parseInt($('#__course_number__').text(), 10);
      const COURSE_TYPE = COURSE_ID >= 100 ? COURSE_TYPES.FULL_COURSE : COURSE_TYPES.GYM_SHORT;
      let PASSING_SCORE = 85;

      if (COURSE_TYPE === COURSE_TYPES.FULL_COURSE) {
        // full courses have a passing grade of 85
        PASSING_SCORE = 85;
      } else {
        // gym shorts have a passing grade of 80
        PASSING_SCORE = 80;
      }

      // look into the div with a class of .problem-progress for our score
      // it contains a string that looks like:
      //    80/100 Points (Graded)
      // so we use .split(' ') to separate the fraction from the rest
      var [fraction] = $('.problem-progress').text().split(' ');

      // next we split the fraction in half by "/" to get the numerator and denomenator
      var [numerator, denomenator] = fraction.split('/');

      var attempts_used = Number($('#attempts-used').text());
      var attempts_total = Number($('#attempts-allowed').text());

      var correct = Number(numerator);
      var outOf = Number(denomenator);

      return {
        courseType: COURSE_TYPE,
        passingScore: PASSING_SCORE,
        score: Number(numerator / denomenator * 100),
        correct,
        outOf,
        attempts_used,
        attempts_total,
        attempts_remaining: attempts_total - attempts_used,
      };
    };

    var show_problem_progress = function(){
      let {
        attempts_used,
        attempts_total,
        attempts_remaining,
        correct,
        courseType,
        outOf,
        score,
        passingScore,
      } = processScore();

      if (!correct || !outOf) {
        return
      }

      $('.exam-score-container').text(score);


      //we have a score
      if (score >= passingScore) {
        //we passed! show passing div for the type of course they took
        $(".passed_modal." + courseType).removeClass('hidden');
        $(".try_again_modal").addClass('hidden');
        $(".failed_modal").addClass('hidden');

        //generate the certificate through the API
        $.ajax({
          type:     'POST',
          url:      '/accredible/request_certificate',
          async:     false,
          data:     {'course_id': $$course_id},
          success:  function(data) {
          }
        });
      } else {
        //we failed :( see if we have another attempt
        if (attempts_remaining > 0) {
          $(".passed_modal").addClass('hidden');
          $(".try_again_modal." + courseType).removeClass('hidden');
          $(".failed_modal").addClass('hidden');
        } else {
          $(".passed_modal").addClass('hidden');
          $(".try_again_modal").addClass('hidden');
          $(".failed_modal").removeClass('hidden');
        }
      }
    }

    function check_status(){
      const {
        attempts_used,
        correct,
      } = processScore();

      if (attempts_used > 0 || correct > 0) {
        clearInterval(progress_status_check);
        show_problem_progress();
      }
    }


    if ($('.problem-header').text().trim() === "Final Exam") {
      let observer = new MutationObserver(mutationRecords => {
        // reset interval if we detect a grade change
        console.log(mutationRecords);
        if (typeof progress_status_check !== 'undefined'){
          clearInterval(progress_status_check);
        }
        // set interval on initial page load
        progress_status_check = setInterval(check_status, 200);
      });

      observer.observe(
        document.getElementById('${ id }-problem-progress'),
        {
          characterData: false,
          attributes: false,
          childList: true,
          subtree: false
        },
      );
    } else {
      return;
    }
  
    // scroll to show the results message
    $('#check-button').click(function() {
      $('#course_passed_message')[0].scrollIntoView();
    });

  });
</script>
